.mfgtsopl {
    font-size: 12px;
}

.mfgtsopl div {
    margin-top: 20px;
}

.mfgtsopl table {
    width:450px;
}

.mfgtsopl td.width {
    width:150px;
}

.mfgtsopl td.padding {
    padding-left: 11px;
}

.mfgtsopl td.border-left {
    border-left: 1px solid grey;
    padding-left: 10px;
}